
.top_container{
    display:block;
    position:relative;
    height:100vh;
    margin-left:-15px;
    margin-right:-15px;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  
  .top__container_h1{
    color:white; 
    font-size:65px;
    font-family: "Red Hat Display", serif;
    letter-spacing: 1.5px;
  }
  
  .top_container_p{
    color: #7C9D96;
    color:white;
    font-size:25px;
    font-family: "Abhaya Libre", serif; 
    letter-spacing: 1.75px;
  }

  .image_1{
    width:100%;
    height:100%;
  }

  .profile_pic{
    margin-top:75px;
    margin-bottom:50px;
    border-radius: 50%;
    width:145px;
    height:145px;
    display:block;
    margin-left:auto;
    margin-right:auto;
  }
  
  .profile_h3{
    color: #7C9D96;
    font-size:35px;
    margin-bottom:50px;
    text-align:center;
    font-family: "Red Hat Display", serif;

  }

  .profile_h4{
    font-size:15px;
    text-align: center;
    line-height:22px;
    font-family: "Abhaya Libre", serif; 
  }

  .about_container{
    margin-bottom:85px;
  }

 .dotted_line{
    width:4%;
    margin:auto;
    border-top:8px dotted #7C9D96;
}


.portfolio_container{
    margin-top:100px;
    display:block;
}

.portfolio_title{
    color: #7C9D96;
    font-size:35px;
    margin-bottom:50px;
    text-align:center;
    font-family: "Red Hat Display", serif;
}

.vid_title{
    font-size:20px;
    margin-bottom:25px;
    margin-left:0px;
    text-align:left;
    font-family: "Red Hat Display", serif;
}

.vid_p{
    font-size:15px;
    margin-bottom:50px;
    margin-left:0px;
    text-align:left;
    font-family: "Abhaya Libre", serif; 

}

.vid{
    margin-bottom:75px;
    width:75px;
    height:300px;  
}

.contact_title{
    color: #7C9D96;
    font-size:35px;
    margin-bottom:25px;
    margin-top:50px;
    text-align:center;
    font-family: "Red Hat Display", serif;

}

.contact_h2{
    font-size: 20px;
    margin-bottom:25px;
    font-family: "Red Hat Display", serif;

}

.contact_p{
    font-size:15px;
    margin-bottom:50px;
    line-height:21px;
    font-family: "Abhaya Libre", serif; 

}


.footer_titles{
    font-family: "Red Hat Display", serif;
    color: #7C9D96;
}

.footer_text{
    font-size:8.5px;
    color:white;
    font-family: "Abhaya Libre", serif; 
    letter-spacing: .65px;
}
.footer{
    background-color: #A1CCD1;
}